@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 16px;
  --text-dark: #2d2d2d;
  --text-light: #999999;
  --text-black: #000000;
  --text-gray: #969696;
  --background: #ffffff;
  --text-medium: #666666;
  --border-color: #e8e8e8;
  --border-light: #e9e9e9;
  --primary-color: #eb0028;
  --background-light: #f8f9fa;
  --text-secondary: #9b9b9b;
}

body {
  line-height: 1.6;
  min-height: 100vh;
  color: var(--text-dark);
  background-color: #f8f9fa;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-light);
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 600;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: url("/src/assets/icons/cursor.svg") 0 0, pointer;
}

button {
  font-family: inherit;
  cursor: url("/src/assets/icons/cursor.svg") 0 0, pointer;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
[role="button"],
.clickable {
  cursor: url("/src/assets/icons/pointer.svg") 0 0, pointer;
}
